.itemList > ul {
    list-style-type:none;
}

.itemList ul > li span label {
    margin-left:10px
}

input[type="checkbox"]:checked~label{
    text-decoration:line-through;
}

.itemList .doneDate {
	margin-left: 10px
}

.toDo {
	float:left;
	padding-right:20px
}

#doge{
	margin:0;
	padding:0;
	width:600px;
	height:600px;
	overflow:hidden;
	background-image: url('doge.png');
	background-size: cover;	
}

/*--- Form ---*/
fieldset {
	width:500px
}

fieldset p {
	clear: both;
	padding: 5px;
}

input.textbox {
	width: 300px;
	float: left;
}

label.field{
	text-align:Left;
	width: 100px;
	float: left;
	font-weight: bold;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
/*----- Tab Links -----*/
/* Clearfix */
	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}

	.tab-links li {
		margin:0px 5px;
		float:left;
		list-style:none;
	}

		.tab-links a {
			padding:9px 15px;
			display:inline-block;
			border-radius:3px 3px 0px 0px;
			background:#7FB5DA;
			font-size:16px;
			font-weight:600;
			color:#4c4c4c;
			transition:all linear 0.15s;
		}

		.tab-links a:hover {
			background:#a7cce5;
			text-decoration:none;
		}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}


/*----- Content of Tabs -----*/
.tab-content {
	padding:15px;
	border-radius:3px;
	/* box-shadow:-1px 1px 1px rgba(0,0,0,0.15); */
	background:#fff;
}

	.tab {
		display:none;
	}

	.tab.active {
		display:block;
	}
	
/* doge  */
.text {
	z-index:1;
	position:absolute;
	font-family:"Comic Sans MS";
}
.red { color:#ff0000; }
.green { color:#00ff00; }
.blue { color:#0000ff; }
.yellow { color:#ffff00; }
.magenta { color:#ff00ff; }
.cyan { color:#00ffff; }
.small { font-size: 18px; }
.medium { font-size: 24px; }
.big { font-size: 36px; }	